

@font-face {
  font-family: 'IM Fell Great Primer SC';
  font-style: normal;
  font-weight : 400;
  src: local('IM FELL Great Primer SC'), local('IM_FELL_Great_Primer_SC'), url(font.woff) format('woff');
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel-Regular'), url(cinzel.woff) format('woff');
}


h1, h2, h3, h4
{
    font-family: 'IM Fell Great Primer SC', serif;
}
body, div, span
{
    font-family: 'Cinzel', serif;
}

.back
{
    background-color:rgba(0,0,0,0.5);
}
.bord
{
    border-style:solid;
    border-width:1px;
    border-color:#ff6a00
}

.disable-select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enable-select
{
    -webkit-user-select: auto;
    -moz-user-select: all;
    -ms-user-select: element;
    user-select: all;
}